*{
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
}
html{
    height: 100%;
}
body {
    min-height: 100%;
}

.container{
    width: 100%;
}


.container .cards-preview{
    width: 100%;
    height: 220px;
    background-color: hsl(278, 68%, 11%);
    opacity: .9;
    margin-bottom: 4.5rem;
    color: #fff;
    background-image: url(../images/bg-main-mobile.png);
    background-repeat: no-repeat;
}

.card-logo{
    filter: invert(0) sepia(1%) saturate(0%) hue-rotate(164deg) brightness(103%) contrast(103%);
    position: relative;
    right: 230px;
    top: 20px;
    width: 60px;

}

.cards-preview .card-back{
    width: 260px;
    position: relative;
    top: 30px;
    left: 90px;
}

.cards-preview .card-front{
    width: 260px;
    position: absolute;
    top: 110px;
    left: 15px;
}

.submit-error{
    color: red;
    display: none;
}

.cards-preview .cvv{
    position: absolute;
    top: 95px;
    left: 300px;
    z-index: 1;
    font-size: 10px;
}

.cards-preview .card-number{
    position: absolute;
    top: 180px;
    left: 32px;
    font-size: 19.5px;
}

h1{
    font-size: 19.5px;
}

.cards-preview .card-expiry{
    position: absolute;
    top: 220px;
    left: 223px;
    font-size: 10px;
}

.cards-preview .card-name{
    position: absolute;
    top: 220px;
    left: 32px;
    font-size: 10px;
    text-transform: uppercase;
}

/* input Area */

#month, #year{
    width: 30px;
}

.container .card-info{
    margin: 0 1.4rem;

}

label{
    font-size: 13.5px;
    text-transform: uppercase;
}

.card-info .card-holder-name, .card-info .card-holder-number{
    width: 95%;
    padding: .7rem 0;
    padding-left: .8rem;
    border-radius: 5px;
    border: 1px solid hsl(270, 3%, 87%);
    font-size: 1.1rem;
    opacity: .5;
}

/* input:focus{
    outline-color: hsl(249, 99%, 64%);
} */


#name-error{
    visibility:hidden;
    color: red;
    font-size: 10px;
    margin-bottom: .9rem;
}

#number-error{
    visibility: hidden;
    color: red;
    font-size: 10px;
    margin-bottom: .9rem;
}

.errors{
    display: flex;
    color: red;
}

.errors p{
    font-size: 8px;
}

#month-error, #year-error, #cvc-error{
    visibility: hidden;
    color: red;
}


#year-error{
    margin-left: 3rem;
    margin-right: 2.2rem;
}

/* .correct-format:focus{
    outline-color: green;
} */

.mixed{
    font-size: .9rem;
}

#month, #year{
    width: 20%;
    margin-top: .4rem;
    padding: .5rem;
    padding-left: .8rem;
    border-radius: 5px;
    font-size: 1rem;
    opacity: .5;
    border: 1px solid #dedddf;
    
}

#year{
    margin-left: .2rem;
}

.cvc{
    margin-left: 3.8rem;
}

#cvc{
    width: 34%;
    padding: .5rem;
    padding-left: .8rem;
    margin-left: .2rem;
    border-radius: 5px;
    font-size: 1rem;
    border: 1px solid hsl(270, 3%, 87%);
    opacity: .5;

}

#confirm-btn{
    margin: 1.5rem 0;
    width: 99%;
    padding: .9rem;
    border-radius: 10px;
    color: #fff;
    background-color: hsl(278, 68%, 11%);
    font-size: 1.2rem;

}


.completed{
    display: none;
    text-align: center;
}

.completed img{
    margin-bottom: 2rem;
}

.completed h2{
    letter-spacing: 5px;
    margin-bottom: 1rem;
}

.completed p{
    color: hsl(279, 6%, 55%);
    margin-bottom: 2rem;
}

.completed button{
    width: 80%;
    font-size: 1rem;
    padding: .8rem;
    border-radius: 10px;
    color: #fff;
    background-color: hsl(278, 68%, 11%);
}




@media screen and (min-width:1080px) {
    .container{
        height: 100vh;
        display: grid;
        grid-template-columns: 33% 30%;
        gap: 23%;
    }

    .container .cards-preview{
        margin: 0;
        padding: 0;
        height: 100%;
        background-image: url(../images/bg-main-desktop.png);
        
    }

    .container .card-info{
        align-self: center;
        margin-top: 30px;
        
    }

    .cards-preview .card-back{
        width: 450px;
        top:469px;
        left: 255px;
    }
    .cards-preview .cvv{
        top: 36.3rem;
        left:38rem;
        z-index: 1;
        font-size: 1rem;
    }

    .cards-preview .card-front{
        width: 28rem;
        top: 11.7rem;
        left: 10rem;
    }

    .card-logo{
        position: absolute;
        width: 5rem;
        left: 12.2rem;
        top: 13.4rem;
    }

    h1{
        font-size: 1.9rem;
    }
    .cards-preview .card-number{
        left: 12rem;
        top: 20rem;
        letter-spacing: 2px;
        
    }

    .cards-preview .card-expiry{
        font-size: 1rem;
        left: 32.8rem;
        top: 24.2rem;
    }

    .cards-preview .card-name{
        font-size: 1.1rem;
        left: 12.2rem;
        top: 24.2rem;
    }

    /* Form Section */
    label{
        font-size: .96rem;
    }
    .card-info .card-holder-name{
        margin-top: 10px;
    }
vc{
        margin-left: 3.5rem;
    }


    .completed{
        width: 30%;
        position: absolute;
        top: 20%;
        left:50%
    }

    .completed button{
        width: 80%;
    }
}